.Rapp.history
.RData
.Rhistory
.Rproj.user
*.Rproj

## module cache files
cache/

## html cache/files
*_cache/
*_files/

## these are downloaded automatically, no point in caching
figures/*Badge.png

## OAuth tokens
.httr-oauth
.httr-oauth-SUSPENDED

## misc OS files
Thumbs.db

 ## !! Module data should be gitignored in the respective module's data dir !!

submodules/

Biomass_borealDataPrep2.Rmd
